.creationlist::-webkit-scrollbar {
  width: 10px;
}

.creationlist::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 

.creationlist::-webkit-scrollbar-thumb {
  background: #888; 
}


.creationlist::-webkit-scrollbar-thumb:hover {
  background: #555; 
}